/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	/* background-image: url(bg.gif); */
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .header::after {
	/* http://www.unicode.org/charts/PDF/U2190.pdf */
	font-size: 10pt;
	content:"\0021d5"; /* closed=&21F3; open=&#21D5; from http://www.unicode.org/charts/PDF/U2190.pdf */
}
	content:"";
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp::after {
	/* background-image: url(asc.gif); */
	content:"\0021d1"; /* closed=&#21E7; open=&#21D1; from http://www.unicode.org/charts/PDF/U2190.pdf */
}
table.tablesorter thead tr .headerSortDown::after {
	/* background-image: url(desc.gif); */
	content:"\0021d3"; /* closed=&#21E9; open=&#21D3; from http://www.unicode.org/charts/PDF/U2190.pdf */
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
